<header class="mt-60" style="box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.5);">
  <div class="container">
    <div class="container-s d-flex align-items-center justify-content-between py-24 mx-auto">
      <div class="d-flex align-items-center">
        <a href="index.html">
          <img width="56" height="61" src="https://dbtcbadminton.com/wp-content/uploads/2020/12/logo-2.png" >
        </a>
      </div>

      <ul class="list-unstyled d-md-flex align-items-center mb-0 gap-40 d-none">
        <li><a href="#" class="text-custom-yellow fw-500 d-flex align-items-center gap-4">
          <span class="material-symbols-outlined text-custom-yellow">
            phone_iphone
            </span>
            +65-98328854
          </a>
        </li>
        <li class="text-lightgray">|</li>
        <li><a href="#" class="text-custom-yellow fw-500 d-flex align-items-center gap-4">
            <span class="material-symbols-outlined text-custom-yellow">
              phone
            </span>
            +6018-970409</a>
        </li>
        <li class="text-lightgray">
          |
        </li>
        <li class="d-lg-block d-md-none d-none"><a href="#" class="text-custom-yellow fw-500 d-flex align-items-center gap-4">
            <span class="material-symbols-outlined text-custom-yellow">
              email
            </span>
            doublestar.sports@gmail.com</a>
        </li>

      </ul>

      <ul class="list-unstyled d-flex align-items-center mb-0 gap-24  me-12">

        <li>

          <button type="button" class="btn btn-custom-yellow w-100 ms-8 px-12 rounded-1 fw-500 gap-4 d-flex align-items-center text-white">
            <span class="material-symbols-outlined">
              login
            </span>
            Login</button>

        </li>
      </ul>

      <!-- hamburgerMenu -->
      <!-- <div class="d-md-none d-block">
            <a class="btn btn-outline-primary rounded" data-bs-toggle="collapse" href="#hamburgerMenu" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <i class="icofont-navigation-menu"></i>
            </a>
        </div> -->
    </div>
  </div>
</header>
