<header class="bg-primary mb-60" style="box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.5);">
  <div class="container">
    <div class="container-s d-flex align-items-center justify-content-between py-24 mx-auto">
      <div class="d-flex align-items-center pe-24">
        <a href="index.html">
          <h1 class="text-white fs-md-16 fs-14 ff-shrikhand text-center">
            DOUBLESTAR BADMINTON
          </h1>
          <h1 class="text-white fs-md-16 fs-14 ff-shrikhand text-center">
            TRAINING CENTRE</h1>
        </a>
      </div>

      <ul class="list-unstyled d-flex align-items-center mb-0 gap-md-40 gap-4 flex-lg-nowrap flex-md-wrap flex-wrap">
        <li><a href="#" class="text-white fw-500 d-flex align-items-center gap-4 fs-md-16 fs-12">
          <span class="material-symbols-outlined text-white fs-md-16 fs-12">
            phone_iphone
            </span>
            +65-98328854
          </a>
        </li>
        <li class="text-white">|</li>
        <li><a href="#" class="text-white fw-500 d-flex align-items-center gap-4 fs-md-16 fs-12">
            <span class="material-symbols-outlined text-white fs-md-16 fs-12">
              phone
            </span>
            +6018-970409</a>
        </li>
        <li class="text-white">
          |
        </li>
        <li><a href="#" class="text-white fw-500 d-flex align-items-center gap-4 fs-md-16 fs-12">
            <span class="material-symbols-outlined text-white fs-md-16 fs-12">
              email
            </span>
            doublestar.sports@gmail.com</a>
        </li>

      </ul>

      <ul class="list-unstyled d-flex align-items-center mb-0 gap-24 me-12">

        <li>
          <button
            class="btn w-100 btn-white ms-8 px-md-12 px-6 gap-4 d-flex align-items-center btn-white rounded-1 fw-500 text-primary">

            <span class="material-symbols-outlined text-primary">
              login
            </span>
            Login
          </button>
        </li>
      </ul>

      <!-- hamburgerMenu -->
      <!-- <div class="d-md-none d-block">
            <a class="btn btn-outline-primary rounded" data-bs-toggle="collapse" href="#hamburgerMenu" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <i class="icofont-navigation-menu"></i>
            </a>
        </div> -->
    </div>
  </div>
</header>